body {
    color: rgb(0, 0, 0);
    background-color: rgb(88, 53, 0);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(255, 249, 249);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0)
}

section {
    background: rgb(9, 0, 58);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
   margin-right: 5%;
}